h1 {
  color: #596aca;
  font-weight: bold;
  padding: 50px 0px 10px;
  position: relative;
  left: 10px;
}

h3 {
  font-size: 50px;
  padding: 15px;
  position: relative;
  left: 20px;
}

h4 {
  font-size: 15px;
  font-weight: bold;
  padding: 30px 0 60px 0;
  margin: 0 auto;
}

h5 {
  color: #596aca;
  font-weight: bold;
}

p {
  color: grey;
  margin: 10px;
}

div {
  text-align: center;
}

.submit-button {
  display: block;
  background-color: black;
  color: white;
  margin: 20px;
  padding: 5px 10px;
  height: 50px;
  border: none;
  position: relative;
  top: 1px;
}

.location-button {
  background-color: #596aca;
  color: white;
  border-radius: 4px;
  padding: 7px 13px;
  border: none;
}

.units {
  font-size: 15px;
  color: #596aca;
  position: relative;
  bottom: 30px;
  left: 10px;
}

.cloud-icon {
  font-size: 15px;
}

.weather {
  max-width: 600px;
  padding: 10px 50px;
  margin: 30px auto;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.08);
  max-width: 600px;
}

.city-input {
  width: 100%;
}

.weather-icon {
  height: 100px;
}

.divider {
  color: black;
  font-size: 20px;
  font-weight: lighter;
}

.weather .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather .active:hover {
  text-decoration: none;
}
